:root {
  --motionPath: "M0,163.594c0,0,249.176,0.927,413,17.406 c169,17,273.782,36.555,371.586,41.091C912,228,1398,238,1398,238";
  --timingCurve: 0.1, 0.29, 0.61, 1;
  --animationDuration: 4s;
  --animationDelay: 3s;
  --animationIteration: 1;
}

.blip-blue-stage {
  display: inline-block;
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  background-color: rgb(43, 104, 161);
}

.blip-blue-wrapper {
  width: 100%;
  height: 450px;
  display: inline-block;
  position: absolute;
  left: 0px;
  z-index: 50;
  animation-name: blipLighten;
  animation-delay: var(--animationDelay);
  animation-duration: 12s;
  animation-iteration-count: var(--animationIteration);
  animation-fill-mode: both;
}

.blip-blue-text {
  position: absolute;
  z-index: 50;
  width: 100%;
}

@keyframes blipLighten {
  0% {
    background-color: rgb(39, 97, 151);
    height: 100%;
  }
  63% {
    background-color: rgb(39, 97, 151);
    height: 100%;
  }
  64% {
    background-color: rgb(109, 159, 206);
    height: 100%;
  }
  65% {
    background-color: rgb(39, 97, 151);
    height: 100%;
  }
  85% {
    background-color: rgb(39, 97, 151, 1);
    height: 100%;
  }
  90% {
    background-color: rgb(39, 97, 151, 0);
    height: 100%;
  }
  100% {
    background-color: rgb(39, 97, 151, 0);
    height: 0%;
  }
}

.blip-blue {
  animation-name: blipBlueMove;
  animation-iteration-count: var(--animationIteration);
  animation-delay: var(--animationDelay);
  animation-duration: var(--animationDuration);
  animation-timing-function: cubic-bezier(var(--timingCurve));
  animation-fill-mode: both;
  position: relative;
  motion-path: path(var(--motionPath));
  offset-path: path(var(--motionPath));
  offset-rotate: auto;
  z-index: 100;
  top: -20px;
  left: -50px;
}

@keyframes blipBlueMove {
  0% {
    width: 80px;
    motion-offset: 0;
    offset-distance: 0%;
    transform: rotate(-12deg);
  }
  100% {
    width: 180px;
    motion-offset: 100%;
    offset-distance: 100%;
    transform: rotate(2deg);
  }
}

.blue-shadow {
  animation-name: blipBlueShadowMove;
  animation-iteration-count: var(--animationIteration);
  animation-delay: var(--animationDelay);
  animation-duration: var(--animationDuration);
  animation-timing-function: cubic-bezier(var(--timingCurve));
  animation-fill-mode: both;
  position: relative;
  motion-path: path(var(--motionPath));
  offset-path: path(var(--motionPath));
  offset-rotate: auto;
  fill: rgb(50, 79, 112);
  -webkit-filter: blur(10px); /* Safari */
  filter: blur(10px);
  z-index: 50;
}

@keyframes blipBlueShadowMove {
  0% {
    opacity: 1;
    left: -120px;
    width: 80px;
    motion-offset: 0;
    offset-distance: 0%;
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    left: -260px;
    top: 30px;
    width: 180px;
    motion-offset: 100%;
    offset-distance: 100%;
    transform: rotate(6deg);
  }
}

.stage {
  background: #eee;
  width: 800px;
  height: 400px;
  position: relative;
}

.bounceacross {
  -webkit-animation-name: bounceacross;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-timing-function: ease-out;

  animation-name: bounceacross;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(
    ellipse farthest-corner at 25% 25%,
    #f00,
    #000
  );
  position: absolute;
}

@keyframes bounceacross {
  from {
    left: 100px;
    bottom: 300px;
    height: 110px;
  }
  10% {
    left: 150px;
    bottom: 0px;
    height: 75px;
  }
  20% {
    left: 200px;
    bottom: 250px;
    height: 108px;
  }
  30% {
    left: 250px;
    bottom: 0px;
    height: 80px;
  }
  40% {
    left: 300px;
    bottom: 200px;
    height: 106px;
  }
  50% {
    left: 350px;
    bottom: 0px;
    height: 85px;
  }
  60% {
    left: 400px;
    bottom: 150px;
    height: 104px;
  }
  70% {
    left: 450px;
    bottom: 0px;
    height: 105px;
  }
  80% {
    left: 500px;
    bottom: 100px;
    height: 102px;
  }
  90% {
    left: 550px;
    bottom: 0px;
    height: 95px;
  }
  100% {
    left: 600px;
    bottom: 50px;
    height: 100px;
  }
}

@keyframes bounce {
  from,
  to {
    transform: translateY(200px) scaleY(0.98);
  }
  80% {
    transform: translateY(100px) scaleY(1.02);
  }
}

.bouncer-02 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(
    ellipse farthest-corner at 25% 25%,
    #f00,
    #000
  );
  margin: 0px auto 0px auto;
  transform-origin: center bottom;
  animation: bounce 1.3s cubic-bezier(0.3, 2.4, 0.85, 2.5) infinite;
}

.stage-bounce {
  border-bottom: 3px solid #444;
  height: 400px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}

.bouncer {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-image: radial-gradient(
    ellipse farthest-corner at 25% 25%,
    #f00,
    #000
  );
  height: 100px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 100px;
  border-radius: 50px;
  position: relative;
  top: 300px;
}

.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.blippy-font {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -30px;
  margin-top: 210px;
  width: 60px;
  animation: fadeFont 8s forwards ease-out;
  animation-iteration-count: 1;
  animation-delay: 9s;
  animation-fill-mode: both;
}

@keyframes fadeFont {
  0% {
    opacity: 1;
    transform: scale(1);
    fill: rgba(250, 250, 250, 1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
    fill: rgba(250, 250, 250, 1);
  }
  22% {
    opacity: 1;
    transform: scale(1.1);
    fill: rgba(250, 250, 250, 1);
  }
  23% {
    opacity: 1;
    transform: scale(1.1);
    fill: rgba(250, 250, 250, 1);
  }
  24% {
    opacity: 1;
    transform: scale(1);
    fill: rgba(250, 250, 250, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
    fill: rgba(250, 250, 250, 1);
  }
  55% {
    opacity: 0.2;
    transform: scale(0.6);
    fill: rgba(250, 250, 250, 0.5);
  }
  80% {
    opacity: 0;
    transform: scale(0.4);
    fill: rgba(250, 250, 250, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
    fill: rgba(250, 250, 250, 0);
  }
}

.blippy-b {
  animation: animateFont 1s forwards ease-in;
  animation-iteration-count: 1;
  animation-delay: 7.5s;
  animation-fill-mode: both;
}

.blippy-l {
  animation: animateFont 1s forwards ease-in;
  animation-iteration-count: 1;
  animation-delay: 7.7s;
  animation-fill-mode: both;
}

.blippy-i {
  animation: animateFont 1s forwards ease-in;
  animation-iteration-count: 1;
  animation-delay: 7.9s;
  animation-fill-mode: both;
}

.blippy-p {
  animation: animateFont 1s forwards ease-in;
  animation-iteration-count: 1;
  animation-delay: 8.1s;
  animation-fill-mode: both;
}

@keyframes animateFont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*

CSS ANIMATIONS:

animation-name: AnimationName

@keyframes AnimationName {
    from {background-color: #fff;}
    to {background-color: #000;}
}

@keyframes AnimationName {
    0% {background-color: #fff;}
    50% {background-color: #333;}
    100% {background-color: #000;}
}

animation-duration: 4s
animation-delay: 4s
animation-iteration-count: 2
animation-direction: forward, reverse, alternate, alternate-reverse
animation-timing-function: linear, ease, ease-in, ease-out, ease-in-out

animation-fill-mode: none, forwards, backwards, both

animation-fill-mode: none:
  Animation will not apply any styles to the element before or after it is executing
animation-fill-mode: forwards:
  The element will retain the style values that is set by the last keyframe
  (depends on animation-direction and animation-iteration-count)
animation-fill-mode: forwards:
  The element will get the style values that is set by the first keyframe
  (depends on animation-direction), and retain this during the animation-delay period
animation-fill-mode: both:
  The animation will follow the rules for both forwards and backwards,
  extending the animation properties in both directions
Shorthand Animation Declaration:
div {
  animation: example 5s linear 2s infinite alternate;
}

animation-play-state: running or paused;

CSS TRANSITIONS:

-webkit-transition: width 2s, opacity: 2s;
transition: width 2s, opacity: 2s;
transition-timing-function: linear, ease, ease-in, ease-out and ease-in-out;
transition-delay: 1s;

COMBINING TRANSFORM & TRANSITION:

div {
  transition: width 2s, height 2s, transform 2s;
}

*/

/*
-webkit-filter: grayscale(0);
  filter: grayscale(0);

  -webkit-transition: opacity 1s;
  transition: opacity 1s;
*/
